<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>

<body>
    Bonjour {{user.first_name}},<br />
    <br />
    🧑 Un nouvel adhérent va bientôt bénéficier de la connexion à Internet fournie par Rezel !
    Comme cette personne est proche de chez toi, la box Rezel qui est déjà présente chez toi
    servira également à fournir la connexion à Internet à cette personne.<br />
    <br />
    🛜 Un nouveau réseau Wi-Fi va donc être crée et sera complètement séparé du tien. Chaque
    adhérent a donc son propre réseau et ses propres adresses IPs.<br />
    <br />
    📝 A cette occasion, nous souhaitons te rappeler le contenu de l'article 60-1 des conditions
    particulières de ton contrat de fourniture de service.<br />
    <br />
    <blockquote style="color: #404040; border-left: solid 3px 	#696969; padding-left: 7px">
        L'Abonné s'engage à ne pas débrancher le matériel de Rezel nécessaire à la
        fourniture du service. Rezel tolère des débranchements durant moins de 15 minutes, tant
        qu'ils n'excèdent pas 3 occurrences par mois.
    </blockquote>
    <br />
    <br />
    Ces dispositions nous permettent de garantir une qualité de service optimale à
    tous les adhérents, et de continuer de fournir une connexion à Internet
    <strong>à un prix raisonnable pour tous.</strong><br />
    <br />
    💸 En compensation du partage du lien fibre optique avec d'autres adhérents, et
    en application de l'article 22-1 des conditions particulières de ton contrat de fourniture de 
    service, tu es également éligible à un remboursement partiel de ta cotisation !<br />
    <br />
    <blockquote style="color: #404040; border-left: solid 3px 	#696969; padding-left: 7px">
        Un remboursement partiel de l'abonnement mensuel peut être accordée chaque mois à l'Abonné bénéficiant
        du service FAI Filaire défini dans les présentes conditions particulières, à la condition que d'autres membres
        adhérents de l'association Rezel bénéficient du service FAI Wi-Fi à travers les équipements physiques prêtés
       par Rezel à l'Abonné. Ce remboursement est accordé en compensation du partage du lien fibre optique de l'Abonné avec les autres
        membres adhérents de l'association Rezel.<br />
        <br />
        Le montant du remboursement partiel de l'abonnement mensuel est calculé ainsi :
        (MINIMUM(5, (nombre d'abonnés Wi-Fi)) x 2€)<br />
        <br />
        Le calcul est effectué chaque mois à la date de paiement de la cotisation de l'Abonné.
        Le remboursement est effectué chaque mois au plus tard 15 jours après
        la date de paiement de l'abonnement mensuel de l'Abonné. Ne sont pris en compte
        dans le calcul précédent que les membres adhérents ayant bénéficié du service Wi-Fi durant
        l'entièreté des 30 jours précédents la date de paiement de l'abonnement mensuel de
        l'Abonné.<br />
        <br />
        Par exemple, pour un mois donné :<br />
        <ul>
            <li>Si aucun membre adhérent n'a bénéficié du service Wi-Fi à travers les équipements
                physiques de l'Abonné au cours des 30 derniers jours, le montant du 
                remboursement partiel est de 0€.
            </li>
            <li>Si 2 membres adhérents ont bénéficié du service Wi-Fi à travers les équipements
                physiques de l'Abonné pendant les 30 derniers jours, le montant du 
                remboursement partiel est de 4€.
            </li>
            <li>Si 6 membres adhérents ont bénéficié du service Wi-Fi à travers les équipements
                physiques de l'Abonné pendant les 30 derniers jours, le montant du
                remboursement partiel est de 10€.
            </li>
        </ul>
    </blockquote>
    <br />
    <br />
    ❓ Des questions ? N'hésite pas à nous contacter sur <a href="mailto:fai@rezel.net">fai@rezel.net</a> ou en passant au local de l'association.<br />
    <br />
    A bientôt,<br />
    Le pôle FAI de Rezel
</body>

</html>