<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    Bonjour {{user.first_name}},<br />
    <br />
    Tu as actuellement un abonnement à Rezel pour un service d'accès à
    Internet.<br />
    <br />
    Tu as dû recevoir il y a quelques minutes un mail te disant que {% if kind
    == 'subscription' %}ton abonnement{% else %}ta cotisation{% endif %} {% if
    amount %} d'un montant de {{amount}} €{% endif %} a expiré{% if
    expiration_date %} le {{expiration_date}}{% endif %} et que tu es donc
    actuellement débiteur{% if amount %} d'un montant de {{amount}} €{% endif
    %}.<br />
    <br />
    <strong
      >Ce mail a été envoyé par erreur pendant une opération de maintenance, et
      nous te demandons donc de ne pas procéder à un paiement pour le
      moment.</strong
    >
    <br />
    <br />
    Nous te réinformerons si tu dois nous payer des mensualités.
    <br />
    Nous sommes désolés pour la gêne occasionnée,
    <br />
    Cordialement,<br />
    L'équipe FAI Rezel
  </body>
</html>
