<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    Bonjour {{user.first_name}},<br />
    <br />
    Ta demande d'abonnement a été validée ! Nous avons bien reçu le paiement du
    premier mois de cotisation.<br />
    <br />
    🛜 Ton réseau Wi-Fi sera disponible le {{date_wifi}} à 6h00 du matin. Ton
    abonnement commence donc à cette date.<br />
    <br />

    Nom du réseau Wi-Fi : <strong>{{ssid}}</strong><br />
    Mot de passe : <strong>{{password}}</strong><br />
    <br />

    ❓ Des questions ? N'hésite pas à nous contacter sur
    <a href="mailto:fai@rezel.net">fai@rezel.net</a> ou en passant au local de
    l'association.<br />
    <br />
    A bientôt,<br />
    Le pôle FAI de Rezel
  </body>
</html>
