<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>

<body>
    Bonjour {{user.first_name}},<br />
    <br />
    Ta demande d'adhésion a été validée !
    Nous avons bien reçu le paiement du premier mois de cotisation et de la caution.<br />
    <br />
    📅 Tu peux désormais te rendre sur le site à l'adresse <a
        href="https://fai.rezel.net/adherer">https://fai.rezel.net/adherer</a>
    afin d'indiquer tes disponibilités pour le rendez-vous de raccordement à la fibre. 
    Le technicien pourra se présenter à n'importe quel moment durant le créneau, et 
    l'installation peut durer jusqu'à une heure, même si cela déborde sur la fin du créneau.<br />
    <br />
    
    📦 Tu peux également venir récupérer tes équipements au local de l'association. Nous te conseillons très
    fortement de t'assurer de la présence d'un membre au local en envoyant un mail à fai@rezel.net pour prévenir
    de ton passage.<br />
    <br />

    ❓ Des questions ? N'hésite pas à nous contacter sur fai@rezel.net ou en passant au local de l'association.<br />
    <br />
    A bientôt,<br />
    Le pôle FAI de Rezel
</body>

</html>