<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
    <p>Bonjour {{user.first_name}},</p>
    <p>Nous te remercions d'avoir adhéré à Rezel et nous espérons que l'association a répondu à tes attentes.</p>
    <p>Pour nous aider à nous améliorer, nous t'invitons à répondre à un court questionnaire de satisfaction (environ 2 minutes). Tes réponses resteront anonymes et nous permettront de perfectionner nos services.</p>
    <p></strong> <a href="https://questionnaire.rezel.net/fin-adhesion-fai">Clique ici</a> pour répondre au questionnaire. Ton avis nous est précieux !</p>
    <p>Merci d'avance pour ta contribution ! Si tu as des questions ou si tu souhaites discuter davantage, n'hésite pas à nous écrire à <a href="mailto:fai@rezel.net">fai@rezel.net</a> ou à passer nous voir au local de l’association.</p>
    <p>A bientôt,<br />
    L’équipe Rezel</p>
</body>

</html>