.searchbar-user {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid black;
    width: 20%;
}

.searchbar-div {
    display: flex;
    align-items: left;
    margin: 20px 20px;
}

.searchbar-button {
    background-color: rgba(0, 0, 0, 0);
    border: 8px solide;
    border-radius: 10px;
    border-color: blue;
    margin-left: 10px;
}
