python-keycloak==2.15.3
uvicorn==0.21.1
fastapi==0.95.1
psycopg2-binary==2.9.6
SQLAlchemy==2.0.9
python-dotenv==1.0.0
pydantic==1.10.7
pynetbox==7.0.1
matrix-client==0.4.0
requests==2.31.0
fillpdf==0.7.2
httpx==0.25.0
pyncclient==0.7
python-multipart==0.0.6
netaddr==0.8.0
xkcdpass==1.19.4
